{{#> layouts/base  title="Project | Rillusion" barbaNamesapce="project"}}
  {{#*inline "content-block"}}
    <section class="width-box page--content--home__project page--intro">
      <h1 class="section--header">
        <span data-aos="fade-up" class="section__header-text_kicker">Projects</span>
        <span class="section--header__title">
          <span><span data-aos="fade-up">Every month,</span></span>
          <span><span data-aos="fade-up" data-aos-delay="400">millions of people use</span></span>
          <span><span data-aos="fade-up" data-aos-delay="800">the products we’ve built.</span></span>
        </span>
      </h1>
    </section>

    <div class="width-box">
      <div class="grid grid-template-column:1fr">
        <div class="project--list project--list-highlight">
          <div class="project--card">
            <div class="text">
              <div data-aos="fade-right" class="block-tag section__header-text_kicker">
                <span>Research</span>
                <span>UX & UI Design</span>
              </div>
              <div class="block-title">
                <a href="./projects/motion-edu.html" data-aos="fade-right">Personalizing the e-learning experiences for
                  school students</a>
              </div>
              <div class="block-text">
                <a href="./projects/motion-edu.html" data-aos="fade-right" data-aos-delay="400">Explore how we equipped
                  school students with a easy and effective
                  learning journey.</a>
              </div>
              <div class="block-link">
                <a href="./projects/motion-edu.html" data-aos="fade-right" data-aos-delay="800">
                  View Case Study
                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.37109 8H15.3711" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M8.37109 1L15.3711 8L8.37109 15" stroke="#231F20" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
            <div class="image">
              <a href="./projects/motion-edu.html" data-aos="fade-right" data-aos-delay="1000">
                <img loading="lazy" class="lazyload" data-src="./images/project/feature/motion-edu.png"
                  alt="motion-edu" /></a>
              <div class="cover" data-aos="fade-right" data-aos-delay="1000" style="background-color: #fec746;"></div>
            </div>
          </div>
          <span data-aos="fade-right" data-aos-delay="1000" class="block_bg" style="background-color: #f2aa00;"></span>
        </div>
      </div>
      <div class="grid grid-template-column:3fr project-colum:3">


        {{#each project}}
          <div class="project--list">
            <div class="project--card">
              <div data-aos="fade-down">
                <div class="project--card_image">
                  <a href="{{link}}">
                    <img loading="lazy" class="lazyload" src="{{image}}" data-src="{{image}}" alt="{{title}}" />
                  </a>
                </div>
                <div class="project--card_title">
                  <a href="{{link}}">{{title}}</a>
                </div>
                <div class="project--card_tags">
                    {{#each tag}}
                      <span>{{this}}</span>
                    {{/each}}
                </div>
              </div>
            </div>
          </div>
        {{/each}}



      </div>

      {{!--
  <div class="grid grid-template-column:1fr">
    <div class="project--list project--list-highlight">
      <div class="project--card">
        <div class="text">
          <div
            data-aos="fade-right"
            class="block-tag section__header-text_kicker"
          >
            <span>UX &amp;UI Design</span>
            <span>Development</span>
          </div>
          <div data-aos="fade-right" data-aos-delay="400" class="block-title">
            <a href="./projects/wealth-fund.html">
              Two line simplified text should goes here
            </a>
          </div>
          <div data-aos="fade-right" data-aos-delay="800" class="block-text">
            <a href="./projects/wealth-fund.html">
              It’s our design philosophy, and the way we approach our work, our
              team and our clients.
            </a>
          </div>
          <div data-aos="fade-right" data-aos-delay="1000" class="block-link">
            <a href="./projects/wealth-fund.html">
              View Case Study
              <svg
                width="17"
                height="16"
                viewBox="0 0 17 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.37109 8H15.3711"
                  stroke="#231F20"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M8.37109 1L15.3711 8L8.37109 15"
                  stroke="#231F20"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </div>
        </div>
        <div class="image">
          <a
            href="./projects/wealth-fund.html"
            data-aos="fade-right"
            data-aos-delay="1000"
          >
            <img
              loading="lazy"
              class="lazyload"
              data-src="./images/project/wealthfund.jpg"
              alt="wealthfund"
            />
          </a>
          <div
            data-aos="fade-right"
            data-aos-delay="1000"
            class="cover"
            style="background: #522ba8;"
          ></div>
        </div>
      </div>
      <span
        data-aos="fade-right"
        data-aos-delay="1000"
        class="block_bg"
        style="background-color: #330b8c;"
      ></span>
    </div>
  </div>
  --}} {{!--
  <div class="grid grid-template-column:3fr project-colum:3">
    <div class="project--list">
      <div class="project--card">
        <div data-aos="fade-down">
          <div class="project--card_image">
            <a href="./projects/gamooga.html">
              <img
                loading="lazy"
                class="lazyload"
                data-src="./images/project/gamooga.jpg"
                alt="Gamooga"
              />
            </a>
          </div>
          <div class="project--card_title">
            <a href="./projects/gamooga.html">
              Powering businesses with a smarter way to marketing
            </a>
          </div>
          <div class="project--card_tags">
            <span>Gamooga</span>
            <span>UX &amp; UI Design</span>
          </div>
        </div>
      </div>
    </div>
    <div class="project--list">
      <div class="project--card">
        <div data-aos="fade-down" data-aos-delay="500">
          <div class="project--card_image">
            <a href="./projects/avishkaram.html"
              ><img
                loading="lazy"
                class="lazyload"
                data-src="./images/project/avishkaram.jpg"
                alt="Avishkaram"
            /></a>
          </div>
          <div class="project--card_title">
            <a href="./projects/avishkaram.html"
              >Defining the web identity for a IT Services company</a
            >
          </div>
          <div class="project--card_tags">
            <span>Avishkaram</span>
            <span>Website Design</span>
          </div>
        </div>
      </div>
    </div>
    <div class="project--list">
      <div class="project--card">
        <div data-aos="fade-down" data-aos-delay="1000">
          <div class="project--card_image">
            <a href="./projects/revv-car.html"
              ><img
                loading="lazy"
                class="lazyload"
                data-src="./images/project/revv-cars.jpg"
                alt="Revv Cars"
            /></a>
          </div>
          <div class="project--card_title">
            <a href="./projects/revv-car.html"
              >Envisioning a new disruptor car buying experience for
              Revv-cars.</a
            >
          </div>
          <div class="project--card_tags">
            <span>Revv Cars</span>
            <span>UX &amp;UI Design</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  --}}
    </div>
  {{/inline}} {{/layouts/base}}
